/* Navbar Styling */
.navbar {
    background-color: white; 
    height: 80px;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1000; 
}

.navbar-brand {
    font-size: 24px;
    color: RGB(45, 70, 94);
    font-family: Roboto, sans-serif;
    line-height: 80px; 
}

.nav-link {
    font-size: 18px;
    margin-right: 15px;
    color: #000; 
    transition: color 0.3s ease; 
    line-height: 80px; 
}

.nav-link:hover {
    color: RGB(52, 191, 73); 
}

.nav-link.active {
    color: RGB(52, 191, 73) !important; 
}

h1 {
    font-size: 30px;
    color: RGB(45, 70, 94);
    margin-bottom: 20px;
    font-family:Roboto,sans-serif ;
}

p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}
span{
    line-height: 50px;
}

button.btn-success {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px; 
    transition: background-color 0.3s, border 0.3s;
}

button.btn-success:hover {
    background-color: white; 
    border: 2px solid green; 
    color: green; 
}
.section2{
    background-color:rgb(207, 214, 221);
}

.feature-box {
    padding: 20px;
    transition: transform 0.3s ease;
}
.feature-box:hover {
    transform: scale(1.05);
}
.feature-title {
    font-size: 20px;
    font-weight: bold;
    color: RGB(45, 70, 94);
}
.feature-text {
    font-size: 16px;
    color: #555;
}
.text-primary {
    color: #28a745; 
    font-weight: bold;
}
.text-muted {
    color: #6c757d;
}
.img-fluid {
    border-radius: 8px;
}
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}
.rounded-circle {
    object-fit: cover;
}
footer a:hover i {
    color: #1abc9c;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}
.list-unstyled {
    color: #6c757d;
    
}


